* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0px;
	background-color: #000000;
	overflow: hidden;
}

#info {
	width: 170px;
	height: 500px;
	position: absolute;
	-moz-user-select: none;	
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	margin-left: 10px;
	margin-top: 10px;
	padding: 10px;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
	background-color: rgba(0, 127, 127, 0.25);
}

#status {
	width: 170px;
	height: 200px;
	position: absolute;
	left: 200px;
	-moz-user-select: none;	
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
	background-color: rgba(0, 127, 127, 0.25);
	cursor: default;
	margin-left: 10px;
	margin-top: 10px;
	padding: 10px;
}

/*************************** /
//     bar chart
*****************************/
canvas.barChart {
	position: absolute;
	margin: 5px;
	bottom: 0px;
	box-shadow: 0px 0px 12px rgba(255,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
	background-color: rgba(127, 127, 127, 0.25);
}

p#inputLabel {
	padding-left: 10px;
	padding-bottom: 12%;
	font-size: 13px;
	font-weight: bolder;
}

div#barChartContainer {
	position: absolute;
	bottom: 1px;
	width: 60%;
}


p {
	position: relative;
	top: 0px;
	right: 0px;
	font-size: 11px;
	padding: 1px;
	text-align: left;
	padding-right: 4px;
	opacity: 1;
	font-weight: bold;
	color: rgba(255,255,255,1);
	text-shadow: 0 0 10px rgba(0,255,255,1);	
}

span {
	display: inline-block;
	width: 80px;
}
.danger {
	color: rgba(255,0,0,1);
	text-shadow: 0 0 8px rgba(200,0,200,1);	
}

.safe {
	color: rgba(0,255,0,1);
	text-shadow: 0 0 8px rgba(200,200,200,1);	
}

#robotView {
	width: 0;
	height: 0;
	position: absolute;
	background-color: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 0, 0.6);
	margin: -4px;
	border-width: 4px;
	border-style: solid;
	right: 0;
	top: 0;
}